@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: cornflowerblue;
}

#output-box{
    padding: auto;
    margin: auto;
    text-align: center;
}

#output-box{
    /* border: 2px solid black;
    border-radius: 0.2rem; */
    width: 150px;
    min-height: 20px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: larger;
    font-weight:bold ;
}

.container{
    padding: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    
}

.container{
    padding-top: 2rem;
    border-radius: 0.2rem;
}

label{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

input{
    border-radius: 0.2rem;
    width: 50%;
    padding: auto;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;

}

button{
    width: 20vw;
    padding: auto;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    transition: 0.5s;
    background-color: #4F46E5;
}

button{
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

button:hover{
    font-size: x-large;
    background-color:lightskyblue;
    color: white;
}


.link 
{
    text-decoration: none;
    padding: 0.4rem 0.4rem;
    transition: 0.5s;
}

.list-non-bullet
{
    list-style: none;
}

.list-item-inline
{
    display: inline;
    padding: 0.5rem, 1rem;
}

.footer
{
    width: 100%;
    padding: auto;
    margin: auto;
    text-align: center;
    background-color:#4F46E5 ;
    /* color: ; */
    border-bottom-right-radius: 1rem;
    position: fixed;
    bottom:0 ;
    padding: 1rem;

}

.footer .link
{
 color:black;
 font-weight: bold;
}

.footer .ul 
{
    padding-inline-start: 0;
}

