@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: cornflowerblue;
}

#output-box{
    padding: auto;
    margin: auto;
    text-align: center;
}

#output-box{
    /* border: 2px solid black;
    border-radius: 0.2rem; */
    width: 150px;
    min-height: 20px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: larger;
    font-weight:bold ;
}

.container{
    padding: auto;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    
}

.container{
    padding-top: 2rem;
    border-radius: 0.2rem;
}

label{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

input{
    border-radius: 0.2rem;
    width: 50%;
    padding: auto;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem;

}

button{
    width: 20vw;
    padding: auto;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    transition: 0.5s;
}

button{
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
}

button:hover{
    font-size: x-large;
    background-color:lightskyblue;
    color: white;
}

.foot{
    padding: auto;
    margin: auto;
    text-align: center;
    bottom: 0;
    width: 30vw;
    padding-top: 3rem;
}

.inline-list{
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
   
}

.inline-list-item{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: smaller;
} 

.inline-list-item:hover{
    font-size: medium;
    color: white;
}
